# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Distribution / packaging
.eggs/
dist/
build/
sdist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-download-cache/

# Testing
.pytest_cache/
htmlcov/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store

# Linting
.ruff_cache
